* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5781de;
    padding: 20px 50px;
    position: relative;
}

.logo{
    font-size: 30px;
    color: #fff;
    font-weight: bold;
}

.toggle-button {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.toggle-button .bar{
    width: 35px;
    height: 4px; 
    border-radius: 5px;
    background-color: #fff;
    margin: 3px 0px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li{
    margin-right: 25px;
}

.nav-links li a{
    font-size: 17px;
    color: #fff;
    text-decoration: none;
    transition: 0.4s ease;
}

.nav-links li a:hover{
    color: #1f376b;
}

header {
    background: teal;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

header p {
    font-size: 1.2rem;
}

nav {
    background: skyblue;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 10px 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

section {
    padding: 40px 0;
}

#bio, #skills, #experience, #contact {
    background: #f4f4f4;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

ul li {
    margin-bottom: 10px;
}

.experience-item {
    margin-bottom: 40px;
    margin: 0 auto;
    max-width: 1100px;
}

footer {
    background: teal;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Mobile responsiveness */
@media screen and (max-width: 768px) {
    .navbar{
        padding: 20px 25px;
    }

    .toggle-button {
        display: flex;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        width: 100%;
        background-color: #5472b3;
        padding: 25px;
        top: 100%;
        left: 0;
    }

    .nav-links li {
        padding: 12px 0px;
    }

    .nav-links.active{
        display: block;
    }

    header h1 {
        font-size: 2rem;
    }

    .container {
        padding: 10px;
    }

    section {
        padding: 20px 0;
    }
}